<section class="tutorial-section">

<header>
    <?js if (children.length > 0) { ?>
    <ul>
        <?js
        children.forEach(tutorial => {
        ?>
        <li><?js= this.tutoriallink(tutorial.name) ?></li>
        <?js }); ?>
    </ul>
    <?js } ?>

    <h2><?js= header ?></h2>
</header>

<article>
    <?js= content ?>
</article>

</section>
